[submodule "DSS-MII"]
	path = dss-mii
	url = https://github.com/modejota/dss-mii.git
[submodule "CC-MII"]
	path = VendorVert
	url = https://github.com/modejota/VendorVert.git
[submodule "SSBW-MII"]
	path = ssbw-mii
	url = https://github.com/modejota/ssbw-mii.git
[submodule "IC-MII"]
	path = ic-mii
	url = https://github.com/modejota/ic-mii.git
[submodule "CC-II-MII"]
	path = ccii-mii
	url = https://github.com/modejota/ccii-mii.git
[submodule "EV-MII"]
	path = ev-mii
	url = https://github.com/modejota/ev-mii.git
[submodule "GIW-MII"]
	path = giw-mii
	url = https://github.com/modejota/giw-mii.git
[submodule "SIGE-MII"]
	path = sige-mii
	url = https://github.com/modejota/sige-mii.git
[submodule "TID-MII"]
	path = tid-mii
	url = https://github.com/modejota/tid-mii.git
[submodule "DES-MII"]
	path = des-mii
	url = https://github.com/modejota/des-mii.git
[submodule "PGPI-MII"]
	path = pgpi-mii
	url = https://github.com/modejota/pgpi-mii.git
[submodule "ass-mii"]
	path = ass-mii
	url = git@github.com:modejota/ass-mii.git
