[submodule "DSS-MII"]
	path = dss-mii
	url = https://github.com/modejota/dss-mii
[submodule "CC-MII"]
	path = VendorVert
	url = https://github.com/modejota/VendorVert
[submodule "SSBW-MII"]
	path = ssbw-mii
	url = https://github.com/modejota/ssbw-mii.git
